@charset "UTF-8";

.container .center-form{
	width: 450px;
    height: 400px;
    margin:0 auto;
    margin-top:-90px;
}
.container .center-form .layui-card-header{
	height:105px;
	background-color:#248EC1;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
.container .center-form .layui-card-header img{
	position:relative;
	top:50%;
	margin-top:-30px;
	float:left;
	margin-left:20px;
}
.container .center-form .layui-card-header span{
	color: white;
    position: relative;
    top: 50%;
    margin-top: -5px;
    margin-left: 10px;
    font-size: 30px;
    float: left;
}

.container{
	margin-top:150px;
	width:100%;
	height:200px; 
	background-color:#29B1FF;
	float:left; 
	
}
#login-button{
	margin-top:25px; 
}

#login-button input{
	border-radius:5px;
	width: 100px;
}
#reset{
	margin-left:20px;
}
#logo{
	position: relative;
    top: 95px;
    left: 45px;
}
#loginForm{
	margin-top:-80px;
}
.layui-form-label{
   width:110px;	
}
.layui-form-item {
    margin-bottom: 15px;
    width: 80%;
    margin-left: 85px;
}
