@charset "UTF-8";
.container{
	width:1000px;
	height:600px;
	margin:0 auto;
	margin-top:10px;
}
.container .header{
	width:100%;
	height:90px;
	background-color:#97BCD9;
}
.container .header .header-logo{
    width: 74px;
    height: 67px;
    margin-top: 12px;
    margin-left: 60px;
    float: left;
}
#pic{
	line-height:115px; 
}
.container .header  .return{
	width: 200px;
    height: 100%;
    float: right;
    margin-right: 60px;
    line-height: 90px;
    text-align: right;
    font-size: 16px;
    color: white;
}
.container .header  .return a{
	color: white;
	padding-left: 5px;
}
.container .header .header-title{
    width:560px;;
	height:100%;
	float:left;   
	 margin-top: 17px;
    margin-left: 5px;
}
.container .header .header-title .header-title-text{
	
	font-size:30px;
	padding-left:5px;
	color:white;
}
.container .header .header-title .header-title-text-english{
	font-size: 20px;
    padding-left: 22px;
    color: white;
}
.container .header .header-title .header-title-english{
	font-size: 22px;
    color: white;
    margin-left: 20px;
    position: relative;
    top: 10px;
}
.container .footer{
	width:100%;
	height:64px;
	float:left;
	margin-top:15px;
	text-align:center;
	line-height:32px;
	background-color:#F0F0F0;
	border-radius:3px;
}
.container .content .right{
	margin-top: -35px;
	float:right; 
	margin-right:50px;
}
.container .content .left{
	margin-left:15px;
}
.container .content .left .left-bottom{
    width: 215px;
    height: 200px; 
    margin-top: 10px;
    font-size: 16px;
    color: #848484;
} 
.container .content-right-button{
	float:right;
	margin-right:80px;
} 
.container .content-right-button button{
	margin-left:40px;
} 
table {
	width: 700px;
    height: 450px;
	margin: 0 auto;
	margin-top:50px;
	text-align: center;
	border-color: #3f51b5;
	color: #3f51b5;
	border-collapse: collapse;
}
.left {
	text-align: left;
}
.title {
	font-family: "微软雅黑";
	font-size: 20px;
}