@charset "UTF-8";
.container{
	width:850px;
	height:680px;
	border:1px solid #E6E6E6;
	margin:0 auto;
	margin-top:30px;
	border-radius:2px;
	margin-bottom:30px;
}
.container .home{
	float: right;
    margin-right: 75px;
    margin-top: -75px;
    font-size: 17px;
}
.container .home a{
	color:blue;
	text-decoration:underline;
}
input{
	width:150px;
}
.container .content .content-header{
	width: 100%;
    height: 100px;
    font-size: 25px;
    float:left;
}
#title{
	line-height:100px; 
	color:grey;
	margin-left:50px;
}
#photo{ 
	width: 100px;
    color: grey;
    font-size: 20px;
    text-align: center;
    height: 130px;
    border: 1px solid #E6E6E6;
    margin-left: 50px;
    margin-top: 30px;
    float:left;
}
#pic{
	line-height:115px; 
}
#info{
	width: 500px;
    height: 120px;
    float: left;
    margin-left: 50px;
    margin-top: 27px;
    margin-bottom:70px;
}
#info *{
	font-size:17px;
	color:grey;
}
#info .second{
	margin-left:150px;
}
#info span{
	margin-top:15px;
}
.container .nextInfo{
	width: 96%;
    height: 50px;
    margin-top: 20px;
    font-size: 16px;
    padding-left: 30px;
    background-color: #E7E7E7;
}
.container .nextInfo span{
	line-height:50px;
}
.container .next{
	margin-top: 35px;
    margin-left: 50px;
}
.container .next *{
	font-size:17px;
	color:grey;
}
#textarea{
	width: 330px;
    height: 35px;
}
#formbutton{
	float:right;
	margin-right:40px;
}
#reset{
	margin-left:50px;
}
